@font-face {
    font-family: 'BrownBagLunch';
    src: url('/BrownBagLunch.ttf') format('truetype');
}

html {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/images/mathclass_day_summer.png');
}

body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
}

.emily-body {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 35vw;
    transform: translateX(10%);
}

.emily-nek {
    position: fixed;
    transform: translateY(-2%) translateX(-20%);
    height: auto;
    width: 20vw;
}

.notebook {
    margin: 0 auto;
    width: 800px;
    min-height: 80vh;
    padding: 55px;
    background: repeating-linear-gradient(
    white 0px,
    white 45px,
    #add8e6 25px,
    white 50px
    ); 
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.notebook::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 2px;
    height: 100%;
    background-color: red;
}

.spiral {
    position: absolute;
    left: 15px;
    top: 10%;
    width: 12px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.spiral div {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
}

h1 {
    font-family: 'BrownBagLunch', monospace;
    text-align: center;
    margin: 0;
    font-size: 7rem;
    font-weight: normal;
    color: #2e2e2e;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    filter: contrast(90%) blur(0.3px);
}

p {
    font-family: 'BrownBagLunch', serif;
    margin: 0;
    color: #3a3a3a;
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.1);
    filter: contrast(85%) blur(0.3px);
    line-height: 1.6;
    font-size: 2rem;
    font-weight: 100;
}

.container {
    width: 15vw;
    margin: auto;
    position: fixed;
    left: 10vw;
    bottom: 0;
    display: inline-block;
}

.eye {
    position: absolute;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.pupil {
    background: black;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.1s ease-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
