
body {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
    overflow-y: scroll;
    max-height: 200px;
    width: 100%;
}

.user {
    width: 15%;
}
.comment {
    width: 85%;
}

td {
    margin: 0px;
    padding: 0px;
}

h4, p {
    margin: 0px;
    padding: 0px;
}
