<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ewheeler121's Personal Site</title>
        <meta name="author" content="Ewheeler121">
        <meta name="description" content="Ewheeler121 Personal Website">
		
        <meta name="keywords" content="">
		<meta name="robots" content="index">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preload" href="images/bg1c.png" as="image">
        <link rel="preload" href="images/bg2c.png" as="image">
        <link rel="preload" href="images/bg3c.png" as="image">

        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="scroll-div.css">
        <link rel="stylesheet" href="background_c.css">

        <style>
            input[type="text"], input[type="url"], textarea {
                font-family: 'VT323';
            }

            #comment-section {
                color: white;
                background-color: black;
                overflow-y: scroll;
                display: flex;
                flex-direction: column-reverse;
                max-height: 200px;
            }
            #comment-section p {
                margin: 5px;
            }
        </style>

        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    </head>
    <div id="bg1" class="background"></div>
    <div id="bg2" class="background"></div>
    <div id="bg3" class="background"></div>
    <body>
        <div id="content">
            <h1 style="text-align: center">Welcome Internet Crawlers!!!</h1>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 15%">
                            <h3>Navigation</h3>
                            <nav>
                                <ul>
                                    <li><a href="construction.html">About</a></li>
                                    <li><a href="construction.html">Setup</a></li>
                                    <li><a href="resume.html">Hire Me?</a></li>
                                    <li><a href="construction.html">Blog</a></li>
                                    <li><a href="construction.html">Projects</a></li>
                                    <li><a href="construction.html">Credits</a></li>
                                </ul>
                                <ul>
                                    <li><a href="https://steamcommunity.com/id/Ewheeler121" target="_">Steam</a></li>
                                    <li><a href="#">Discord</a></li>
                                    <li><a href="https://github.com/Ewheeler121" target="_">GitHub</a></li>
                                </ul>
                            </nav>
                        </td>
                        <td style="width: 85%">
                            <table style="width: 100%; border-spacing: 0;">
                                <tbody>
                                    <tr>
                                        <td style="width: 75%; border: none;  padding: 0 5px">
                                            <h2>Welcome to my Personal Site</h2>
                                            <p>
                                            I created this website after my enlightenment hearing the words of <a href="lukesmith.xyz" target="_">Luke Smith</a> and 
                                            reminiscing on the internet of old.
                                            </p>
                                            <p>
                                            This website has been created using no front-end frameworks or bloated server software. Its using a C program 
                                            I made along with HTMX to extend HTML's capabilities and is hosted on a VPS.
                                            </p>
                                        </td>
                                        <td style="border: none; padding: 0">
                                            <img src="https://avatars.fastly.steamstatic.com/032b99903da3b29462705de93f10d7af616407a9_full.jpg" style="border: 2px solid #e9b392; border-radius: 6px" alt="Ewheeler121 Steam Icon">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                            I am a programmer who mostly works in low level languages like C (my favorite) and Rust with 
                            experience with the soy based languages like Python and JavaScript. I do my best to adhere to 
                            use only FOSS software like Linux and will only make exceptions for my addiction to video 
                            games. I love to talk and help with other people so contact me however you like. Put a comment 
                            on my site below and check out the other tabs I got on my site.<span class="blink"> |</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 33%">
                            <h4 style="text-align: center">Status</h4>
                            <div id="status" hx-get="/status" hx-trigger="load" hx-target="#status" hx-swap="innerHTML" style="text-align: center">
                                <p>getting status...</p>
                            </div>
                        </td>
                        <td style="width: 33%">
                            <h4>IDK What to put here :/</h4>
                        </td>
                        <td style="width: 33%">
                            <div id="hit-counter" hx-get="/hit-counter" hx-trigger="load" hx-target="#hit-counter" hx-swap="innerHTML" style="text-align: center">
                                <p>Loading counter...</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td style="border: 0">
                            <div class="scroll-container">
                                <div class="scroll-content">
                                    <img src="images/1080p.gif" loading="lazy" alt="1080p" width="88" height="31">
                                    <img src="images/css.gif" loading="lazy" alt="css" width="88" height="31">
                                    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_"><img src="images/gpl3.gif" loading="lazy" alt="gpl3" width="88" height="31"></a>
                                    <a href="https://neomutt.org/" target="_"><img src="images/mutt.gif" loading="lazy" alt="mutt" width="88" height="31"></a>
                                    <img src="images/2001.gif" loading="lazy" alt="2001" width="88" height="31">
                                    <a href="https://discord.com/" target="_"><img src="images/discord2.gif" loading="lazy" alt="discord2" width="88" height="31"></a>
                                    <img src="images/hatemac_b.gif" loading="lazy" alt="hatemac_b" width="88" height="31">
                                    <a href="https://neovim.io/" target="_"><img src="images/neovim.gif" loading="lazy" alt="neovim" width="88" height="31"></a>
                                    <a href="https://www.torproject.org/" target="_"><img src="images/tor.gif" loading="lazy" alt="tor" width="88" height="31"></a>
                                    <img src="images/anythingbut.gif" loading="lazy" alt="anythingbut" width="88" height="31">
                                    <img src="images/dynamiclogo.gif" loading="lazy" alt="dynamiclogo" width="88" height="31">
                                    <img src="images/hatems.gif" loading="lazy" alt="hatems" width="88" height="31">
                                    <a href="https://www.kernel.org/" target="_"><img src="images/penguins.gif" loading="lazy" alt="penguins" width="88" height="31"></a>
                                    <a href="https://artixlinux.org/" target="_"><img src="images/Artix.gif" loading="lazy" alt="Artix" width="88" height="31"></a>
                                    <img src="images/phonechump.gif" loading="lazy" alt="phonechump" width="88" height="31">
                                    <a href="https://wiby.me/" target="_"><img src="images/wiby.gif" loading="lazy" alt="wiby" width="88" height="31"></a>
                                    <img src="images/fftake.gif" loading="lazy" alt="fftake" width="88" height="31">
                                    <img src="images/jesus_now.gif" loading="lazy" alt="jesus_now" width="88" height="31">
                                    <img src="images/rss-button.gif" loading="lazy" alt="rss-button" width="88" height="31">
                                    <img src="images/win10no.gif" loading="lazy" alt="win10no" width="88" height="31">
                                    <a href="https://github.com/Ewheeler121" target="_"><img src="images/github-check.gif" loading="lazy" alt="github-check" width="88" height="31"></a>
                                    <img src="images/keep.gif" loading="lazy" alt="keep" width="88" height="31">
                                    <img src="images/www.gif" loading="lazy" alt="www" width="88" height="31">
                                    <img src="images/csbanner.gif" loading="lazy" alt="csbanner" width="88" height="31">
                                    <img src="images/gnu-linux.gif" loading="lazy" alt="gnu-linux" width="88" height="31">
                                    <a href="https://landchad.net/" target="_"><img src="images/landchad.gif" loading="lazy" alt="landchad" width="88" height="31"></a>
                                    <a href="https://steamcommunity.com/id/Ewheeler121" target="_"><img src="images/steam.gif" alt="steam" width="88" height="31"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 60%">
                            <h3>Blog</h3>
                            <p>Yapping</p>
                        </td>
                        <td style="width: 40%">
                            <h3>Projects</h3>
                            <p>Professional Yapping</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 100%">
                            <h3>Comments</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="padding:0px;">
                                            <div id="comment-section" hx-get="/comments" hx-trigger="load" hx-target="#comment-section" hx-swap="innerHTML" style="text-align: center">
                                                <p>Loading comments...</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="comment-form">
                                <form hx-post="/submit-comment" hx-target="#comment-section" hx-swap="outerHTML">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" required>

                                    <label for="website">Website(optional):</label>
                                    <input type="url" id="website" name="website">
                                    <br><br>
                                    <label for="comment">Comment:</label>
                                    <textarea id="comment" name="comment" required></textarea>

                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
