<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ewheeler121's Funny Game</title>
        <meta name="author" content="Ewheeler121">
        <meta name="description" content="The Shameful Game">

        <meta name="keywords" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preload" href="https://ewheeler121.xyz/images/bg1f.png" as="image">
        <link rel="preload" href="https://ewheeler121.xyz/images/bg2f.png" as="image">
        <link rel="preload" href="https://ewheeler121.xyz/images/bg3f.png" as="image">
        <style>
            @font-face {
                font-family: 'VT323';
                src: url('/VT323-Regular.ttf') format('truetype');
            }
        </style>
        <link rel="stylesheet" href="https://ewheeler121.xyz/style.css">
        <link rel="stylesheet" href="https://ewheeler121.xyz/background_f.css">
        <link rel="stylesheet" href="TemplateData/style.css">

    </head>
    <div id="bg1" class="background"></div>
    <div id="bg2" class="background"></div>
    <div id="bg3" class="background"></div>
    <body>
        <div id="content">
            <div class="box b100 no-border">
                <h1 style="text-align: center">The Game</h1>
            </div>
            <div class="box b100 no-border">
                <div class="box b100" style="height: 500px">
                </div>
                <div class="box b100">
                    <h1>Don't Bring a Knife to a Gun Fight</h1>
                    <a href="/fps_build.zip">download windows build</a>
                    <h1>Controls</h1>
                    <h2>W, A, S, D to move Camera</h2>
                </div>
                <div class="box b100">
                    <h1>Profolio Entry</h1>
                    <h2>My Role</h2>
                    <p>I was the Programmer Game for the game.</p>
                    <h2>What did I learn?</h2>
                    <ul>
                        <li>learned unity's built in mouse functions</li>
                        <li>learned more about unity's camera perpectives</li>
                        <li>learned basic path following with waypoints</li>
                    </ul>
                    <h2>What makes this game unique?</h2>
                    <p>Not much is unique, just a simple tower defense.</p>
                    <img src="/1.png" alt="first screenshot">
                    <img src="/2.png" alt="second screenshot">
                    <img src="/1.gif" alt="short gif">
                </div>
    </body>
</html>
