<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ewheeler121's Funny Game</title>
        <meta name="author" content="Ewheeler121">
        <meta name="description" content="The Shameful Game">

        <meta name="keywords" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preload" href="https://ewheeler121.xyz/images/bg1f.png" as="image">
        <link rel="preload" href="https://ewheeler121.xyz/images/bg2f.png" as="image">
        <link rel="preload" href="https://ewheeler121.xyz/images/bg3f.png" as="image">
        <style>
            @font-face {
                font-family: 'VT323';
                src: url('/VT323-Regular.ttf') format('truetype');
            }
        </style>
        <link rel="stylesheet" href="https://ewheeler121.xyz/style.css">
        <link rel="stylesheet" href="https://ewheeler121.xyz/background_f.css">
        <link rel="stylesheet" href="TemplateData/style.css">

    </head>
    <div id="bg1" class="background"></div>
    <div id="bg2" class="background"></div>
    <div id="bg3" class="background"></div>
    <body>
        <div id="content">
            <div class="box b100 no-border">
                <h1 style="text-align: center">The Game</h1>
            </div>
            <div class="box b100 no-border">
                <div class="box b100" style="height: 500px">
                    <video src="preview.mp4" controls width="720" height="480"></video>
                </div>
                <div class="box b100">
                    <h1>Don't Bring a Knife to a Gun Fight</h1>
                    <a href="/window_build.zip">download windows build</a>
                    <h1>Controls</h1>
                    <h2>W, A, S, D to move Camera</h2>
                    <h2>1, 2 to switch weapons</h2>
                    <h2>left click to shoot</h2>
                </div>
                <div class="box b100">
                    <h1>Profolio Entry</h1>
                    <h2>Roles</h2>
                    <p>Programmed the entire Project in C# with the Unity Game Engine. Also design the Puzzles, UI Layout, and Levels.</p>
                    <h2>What did I learn?</h2>
                    <ul>
                        <li>Learned Unity's AI pathfinding system and its integration in 3D spaces</li>
                        <li>Learned Unity's Packaging system and integrating different code bases</li>
                        <li></li>
                    </ul>
                    <h2>What makes this game unique?</h2>
                    <p>Its implements skill-based movement mechanics of older area shooters allowing for fast paced action with a high skill ceiling</p>
                    <img src="/1.png" alt="first screenshot" style="width:500px">
                    <img src="/2.png" alt="second screenshot" style="width:500px">
                    <img src="/1.gif" alt="short gif">
                </div>
    </body>
</html>
