<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ewheeler121's Personal Site</title>
        <meta name="author" content="Ewheeler121">
        <meta name="description" content="Ewheeler121 Personal Website">
		
        <meta name="keywords" content="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/comment.css">
    </head>
    <body>
        <table>
            <tbody>
                {{ .comments }}
            </tbody>
        </table>
        <div id="bottom"></div>
    </body>
</html>
