<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>I LOVE EMILLLLLYYY</title>
        
        <link rel="stylesheet" href="/static/style.css">

        <meta property="og:title" content="Devlog Server Pink History">
        <meta property="og:description" content="A Catalog of all the users pink'd">
        <meta property="og:image" content="https://devlog.pink/static/dance.gif">
        <meta property="og:url" content="https://devlog.pink">
        <meta property="og:type" content="website">
    </head>
    <body>
        <img src="/static/emily_body_normal_showdrawing.png" class="emily-body">
        <img src="/static/emily_neck_normal.png" class="emily-nek">
        <div class="notebook">
            <div class="spiral">
                <div></div> <div></div> <div></div> <div></div> <div></div> 
                <div></div> <div></div> <div></div> <div></div> <div></div> 
            </div>
            <h1>I LOVE EMILY</h1>
            <img src="/static/cute.jpg" style="display: block; margin: 0 auto; width: 75%">
            <p>I LOVE HER SO MUCCHHH RAAAA. By the time the game comes out I will have 15 different levels of Pink on the server.
            I will buy ALL the plushes, body pillows, and stickers I can find. My passion for dino girls will NOT BE STOPPED</p>
            <img src="/static/kissy.png" style="display: block; margin: 0 auto; width: 25%">
            <p>If there are millions of Emily worshipper, I am one of them. If their is one Emily fan, thats me. 
            If there are no Emily fans, that means that humanity is dead for my love is ETERNAL!!!</p>
            <img src="/static/emilywojak.png" style="display: block; margin: 0 auto; width: 90%">
        </div>
</html>
